<!DOCTYPE html>
<html>
  <head>
    <title>localhost</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDpeAVlJArLK2nXdbjRUWvvYHm4QF3Cj2Q&libraries=places" %>
    <%= favicon_link_tag asset_path('airbnk.png') %>

    <script type="text/javascript">
      window.background = "<%= image_url('background.jpg') %>"
    </script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('airbnk.png') %>"
    </script>
    <script type="text/javascript">
      window.profilePic = "<%= image_url('prof_pic1.jpg') %>"
    </script>
    <script type="text/javascript">
      window.house1 = "<%= image_url('house1.jpg') %>"
    </script>
    <script type="text/javascript">
      window.house2 = "<%= image_url('house2.jpg') %>"
    </script>
    <script type="text/javascript">
      window.house3 = "<%= image_url('house3.jpg') %>"
    </script>
    <script type="text/javascript">
      window.house4 = "<%= image_url('house4.jpg') %>"
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/v4-shims.css">

    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
