<!DOCTYPE html>
<html>
  <head>
    <title>AirBnK</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('airbnk.png') %>"
    </script>
    <script type="text/javascript">
      window.profilePic = "<%= image_url('prof_pic.png') %>"
    </script>
    <script type="text/javascript">
      window.house1 = "<%= image_url('house1.jpeg') %>"
    </script>
    <script type="text/javascript">
      window.house2 = "<%= image_url('house2.jpeg') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
